body{
  padding:0;
  margin:0;
}
.footer ul{
  margin:0;
  padding:0;
}

.footer{
  height:20px;
  background-color:aqua;
  font-size:10px;
  margin:0;
  padding:0;
  list-style-type:none;
  text-decoration:none
}